div {
    margin: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
