body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div {
  margin: 1rem;
}

form {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}
